# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives:**

 - List popular languages for Data science
 - list commonly used libraries by Data scientists
 - List some arithematic expressions in Python

Some of the popular languages that Data Scientists use are:

    1. Python
    2. SQL
    3. R

Some of the commonly  used libraries udes by Data Scientists include:

    1. Pandas
    2. Matplotlib
    3. Plotly

| Data Science |
| ------------ |
| RStudio |
| Apache Spark |
| TensorFlow |

### Blow are a few examples of evaluating arithematic expressions in Python
    1. 2+3
    2. 4-1
    3. 6*9

In [3]:
# This a simple arithmetic expression to mutiply then add integers
x = (3*4)+5
print(x)

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
y = 200.0/60.0
print(y)

3.3333333333333335

## Author
   Manasa